html,body {font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif}
a {text-decoration: none;cursor: pointer;}

ul li {list-style: none;}
.clearfix {
  clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}
html, body, div, span, object, iframe,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

img{
    max-width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #ffffff;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.wrapper {padding:20px;}
.gray-bg {background:#f3f3f3;}
.logo {
  width: 30px;
  line-height:30px;
}
.center {text-align: center;}
.none {text-align: center;color:#bbb;padding:10px;}
.more {text-align: center;color:#bbb;padding:10px;cursor: pointer;}
.box {background: #fff;margin:20px 10px;}

.box-header {
  text-align: left;
  border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 13px 15px 7px;
    min-height: 48px;

}
.box-header .box-title {
    display: inline-block;
    text-overflow: ellipsis;
    float: left;

}
.box-header .box-tools {
  display: block;
    float: none;

    position: relative;

    text-align: right;
}
.box-header .box-tools a {

}
.box-header .icon {margin-left:10px;}
.box-content {
  background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.no-padding{padding:0px;}
.box-footer {

}
a.btn-blue,button.btn-blue {
  background:#3498DB;
  color:#fff;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;
  border:none;
}
.muted {color:#888888;}
.text-indent {text-indent: 2em;}
a.btn-blue:hover,button.btn-blue:hover,a.btn-blue:focus,button.btn-blue:focus {
  background:#5dade2;
  color:#fff;
}
a.btn-red,button.btn-red {
  background:#e74c3c;
  color:#fff;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;
  border:none;
}
a.btn-red:hover,button.btn-red:hover,a.btn-red:focus,button.btn-red:focus {
  background:#ec7063;
  color:#fff;
}
.text-blue{color:#3498DB;}
.text-red{color:#e74c3c}
.text-gray{color:#888888}
a.text-blue,a.text-red,a.text-gray {
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;
  text-decoration:none;
}
a.text-blue:hover{color:#5dade2;text-decoration:none;}
a.text-red:hover{color:#ec7063;text-decoration:none;}
a.text-gray:hover{color:#333;text-decoration:none;}
.media-left {width:64px;height: 64px;}
.media .media-body {width:0px;}
.input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.input .icon {
  position: absolute;
    width: 36px;
    height: 100%;
    line-height:36px;
    left: 0;
    top: 0;
    text-align: center;

    transition: all .3s;
}
.input .inner {
  display: inline-block;
    font-size: inherit;
    height: 36px;
    padding-left:36px;
    line-height: 1;
    outline: none;
}
